@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  scroll-behavior:smooth;
}

header{
  height: 60px;
  width: 100vw;
  position: fixed;
}

.navbar{
	display:flex;
	justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.nav-logo{
	width:8rem; 
	display:grid;
	place-items :center;
}

.nav-logo h2 a{
  text-decoration: none;
  color: crimson;
}

.logo-img{
  display: block;
	width:100%;
}

.nav-mid{
	display:flex;
	gap: 3rem;
}

.nav-mid a{
	text-decoration:none;
	font-weight: 500;
	color:black;
	font-size: 1rem;
}

.nav-right{
	display:flex;
	gap: 3rem;
	margin-right: 2rem;
}

.nav-right a{
	text-decoration:none;
	font-weight: 500;
	color:black;
	font-size:1rem;
}

.la-shopping-cart{
  font-size: 24px;
}

section{
  padding-top: 5rem;
}


.product-box{
  width: 80%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-img{
  height: 160px;
  width: auto;
  display: flex;
  justify-content: center;

}

.product-img img{
  display: block;
  height: 100%;
  width: auto;
}

.product-info{
  padding: 10px;
}

.cart-btn{
  position: relative;
  left: 70px;
  bottom: 10px;
  background-color:crimson;
  color: #fff;
  border: none;
  border-radius: 6px;
}

