@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  scroll-behavior:smooth;
  background-color: rgba(0, 0, 0, 0.8);
}

header{
  height: 60px;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.navbar{
	display:flex;
	justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #30475E;
  z-index: 100;
}

.nav-logo{
	width:8rem; 
	display:grid;
	place-items :center;
}

.nav-logo h2 a{
  text-decoration: none;
  color: #F05454;
}

.logo-img{
  display: block;
	width:100%;
}

.nav-mid{
	display:flex;
	gap: 3rem;
}

.nav-mid a{
	text-decoration:none;
	font-weight: 500;
	color:white;
	font-size: 1rem;
  transition: all 0.3s ease;
}

.nav-mid a:hover{
  color: #F05454;
}

.nav-right{
	display:flex;
	gap: 3rem;
	margin-right: 2rem;
}

.nav-right a{
	text-decoration:none;
	font-weight: 500;
	color:black;
	font-size:1rem;
}

.btn-primary{
  position: relative;
}

.noti-count{
  display: inline-block;
  position: absolute;
  top: -6px;
  right: -6px;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  font-size: 12px;
}

.la-shopping-cart{
  font-size: 24px;
}

section{
  padding-top: 5rem;
}


.product-box{
  position: relative;
  width: 80%;
  height: 100%;
  padding: 10px 10px 40px;
  border-radius: 10px;
  background-color: #DDDDDD;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-img{
  height: 160px;
  width: auto;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;

}

.product-img img{
  display: block;
  height: 100%;
  width: auto;
}

.product-info{
  padding: 10px;
}

.prod-name, .prod-price{
  text-align: center;
}

.cart-btn{
  display: inline-block;
  position: absolute;
  left:50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color:crimson;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 6px;
  width: 100px;
  transition: all 0.3s ease;

}

.cart-btn:hover{
  background-color: #f70737;
}
 

/* ! Cart Scripts */

.cart-content{
  display: grid;
  grid-template-columns: 25% 70% 5%;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.cart-img-box{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
}

.cart-img-box img{
  display: block;
  height: 100%;
}

.cart-detail-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prod-name{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}



.price-subtotal{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.prod-price, .prod-subtotal, .total-price{
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.prod-price::before, .prod-subtotal::before, .total-price::before{
  content: "Rs. ";
}

.qty-group{
  width: 160px;
  display: flex;
}

.qty-group input{
  width: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.qty-group button{
  width: 30px;
  border: none;
  outline: none;
  background-color: crimson;
  color: #fff;
}

.la-trash{
  font-size: 24px;
  font-weight: 600;
  color: red;
}

.total-box{
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0;
}

.buy-btn{
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  background-color:rgba(255, 166, 0, 0.8)
}


