@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  scroll-behavior:smooth;
}

header{
  height: 60px;
  width: 100vw;
  position: fixed;
}

.navbar{
	display:flex;
	justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.nav-logo{
	width:8rem; 
	display:grid;
	place-items :center;
}

.nav-logo h2 a{
  text-decoration: none;
  color: crimson;
}

.logo-img{
  display: block;
	width:100%;
}

.nav-mid{
	display:flex;
	gap: 3rem;
}

.nav-mid a{
	text-decoration:none;
	font-weight: 500;
	color:black;
	font-size: 1rem;
}

.nav-right{
	display:flex;
	gap: 3rem;
	margin-right: 2rem;
}

.nav-right a{
	text-decoration:none;
	font-weight: 500;
	color:black;
	font-size:1rem;
}

.la-shopping-cart{
  font-size: 24px;
}

section{
  padding-top: 5rem;
}


.product-box{
  width: 80%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-img{
  height: 160px;
  width: auto;
  display: flex;
  justify-content: center;

}

.product-img img{
  display: block;
  height: 100%;
  width: auto;
}

.product-info{
  padding: 10px;
}

.cart-btn{
  position: relative;
  left: 70px;
  bottom: 10px;
  background-color:crimson;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 6px;
}
 

/* ! Cart Scripts */

.cart-content{
  display: grid;
  grid-template-columns: 25% 70% 5%;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.cart-img-box{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
}

.cart-img-box img{
  display: block;
  height: 100%;
}

.cart-detail-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-detail-box .prod-name{
  font-size: 14px;
  font-weight: 600;
  color: crimson;
  text-transform: uppercase;
}

.price-subtotal{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.prod-price, .prod-subtotal{
  font-size: 14px;
  font-weight: 600;
}

.qty-group{
  width: 160px;
  display: flex;
}

.qty-group input{
  width: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-group button{
  width: 30px;
  border: none;
  outline: none;
  background-color: crimson;
  color: #fff;
}

.la-trash{
  font-size: 24px;
  font-weight: 600;
  color: red;
}

.total-box{
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0;
}

.buy-btn{
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  background-color:rgba(255, 166, 0, 0.8)
}


